<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contag.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.contag.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.contag.app.permission.C2D_MESSAGE" />

    <application
        android:name=".config.ContagApplication"
        android:allowBackup="true"
        android:icon="@drawable/contag_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Contag.Material.NoActionBar">

        <!-- App Activities -->

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Contag.Material.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewUserActivity"
            android:label="@string/title_activity_user_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/title_activity_fuck"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Facebook Activity -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- meta data -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- The service keeps on running in the background and when any contact is updated it interacts with the server -->
        <service
            android:name=".service.ContactService"
            android:enabled="true"
            android:exported="false" />

        <!-- On Device reboot the receiver starts the contact service -->
        <!-- <receiver -->
        <!-- android:name=".receiver.BootReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.contag.app" />
            </intent-filter>
        </receiver>

        <!-- Robospice Retrofit API Service for network -->

        <service
            android:name=".service.APIService"
            android:exported="false" />

        <!-- Service called when GCM notification received -->

        <service
            android:name=".service.GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- Service called if GCM token is changed -->

        <service
            android:name=".service.GcmTokenRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.GcmRegisterIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.UserService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".service.CustomService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ddd081d9b2da73239d08eae430cfd3b1130525ff" />

        <activity
            android:name=".activity.LinkedInActivity"
            android:label="@string/title_activity_linked_in"></activity>
        <activity
            android:name=".activity.InstagramActivity"
            android:label="@string/title_activity_instagram"></activity>
        <activity
            android:name=".activity.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
